@import url(../fonts/fonts.css);

.body {
 width: 100vw;
 height: 100vh;
 margin: 0;
 background-color: black;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.form {
 position: relative;
 margin-top: 100px;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
}

.title {
 font-size: 100px;
 margin: 0;
 text-align: center;
}

.full-done {
 padding: 0;

 position: relative;
 margin: 0;
 padding: 0;
 width: 50px;
 height: 50px;
 background-color: white;
 border: none;
 position: absolute;
 top: 145px;
 left: 300pxpx;
 display: none;
}

.full-done::before {
 border: 1px solid black;
 width: 100%;
 height: 100%;
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 background-color: rgba(194, 182, 149, 0.89);
}

.full-done:checked::before {
 width: 0%;
 height: 0%;
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 color: black;
}

.full-done-visible {
 cursor: pointer;
 display: inline-block;
}

.name {
 padding: 0;
 padding-left: 50px;
 width: 554px;
 min-height: 50px;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 font-size: 30px;
 color: black;
}



.save {
 border: none;
 padding: 0;
 width: 100px;
 height: 58px;
 background-color: papayawhip;
 border-radius: 5px;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 font-size: 15px;
}

.container {
 background-color: darkgray;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 position: relative;
}

.container-active {
 display: none;
}

.container-completed {
 display: none;
}

.todo-li {
 width: 710px;
 margin-top: 20px;
 border: 1px solid white;
 background-color: black;
 display: flex;
 justify-content: space-between;
}

.case {
 display: inline-block;
 margin: 0;
 font-size: 25px;
 width: 100%;
}

.case:hover {
 cursor: pointer;
}

.wrapper {
 width: 70px;
 justify-content: space-between;
 display: flex;
 margin-top: 8px;
 margin-left: 0;
}

.trash {
 padding: 0;
 background-image: url(../foto//button-trash.svg);
 max-width: 18px;
 width: 100%;
 height: 19px;
 border: none;
 background-color: initial;
 padding: 0;
 transition: opacity 1s ease;

}

.done {
 margin: 0;
 padding: 0;
 max-width: 30px;
 width: 100%;
 height: 19px;
 border: none;
 background-color: black;
 padding: 0;
 transition: opacity 1s ease;
}

.check-delo {
 text-decoration: line-through;
}



.button-wrapper {
 display: none;
 justify-content: center;
 width: 712px;
 height: 40px;
 background-color: darkgray;
 position: relative;
}

.button-wrapper-visible {
 display: flex;
}

.button-conteiner {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 text-align: center;
 text-decoration: none;
 height: 20px;
 margin-top: 20px;
 width: 70px;
 padding: 0;
 border: none;
 margin-right: 5px;
 background: none;
 align-self: center;
 color: black;
}


.button-conteiner-on {
 background-color: white;
}

.button-conteiner:hover {
 background-color: white;
}

.button-conteiner-clear {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 text-align: center;
 text-decoration: none;
 height: 20px;
 margin-top: 20px;
 width: 70px;
 padding: 0;
 border: none;
 margin-right: 5px;
 background: none;
 align-self: center;
 color: black;
 display: none;
 position: absolute;
 left: 600px;
}

.button-conteiner-clear-active {
 display: block;
}

.button-conteiner-clear:hover {
 background-color: white;
}

.count {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 margin: 0;
 position: absolute;
 top: 20px;
 left: 40px;
 width: 10%;
 height: 20px;
 color: black;
}

.todo-change {
 border: none;
 padding: 0;
 margin: 0;
 width: 710px;
 height: 33px;
 position: absolute;
 display: none;
}

.todo-change-visible {
 display: inline-block;
}

.input-save {
 border: none;
 padding: 0;
 width: 90px;
 height: 33px;
 background-color: papayawhip;
 border-radius: 5px;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 font-size: 15px;
 position: absolute;
 left: 622px;
 display: none;
}

.input-save-visible {
 display: inline-block;
}