@import url(../fonts/fonts.css);

.body {
 width: 100vw;
 height: 100%;
 margin: 0;
 background-color: black;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.form {
 position: relative;
 margin-top: 100px;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 display: flex;
 flex-direction: column;
 align-items: center;
}

@media screen and (max-width: 750px) {
 form {
  max-width: 450px;
  width: 100%;
 }
}

@media screen and (max-width: 450px) {
 form {
  max-width: 350px;
  width: 100%;
 }
}

.title {
 font-size: 100px;
 margin: 0;
 text-align: center;
}

@media screen and (max-width: 750px) {
 .title {
  font-size: 80px;
  width: 100%;
 }
}

@media screen and (max-width: 450px) {
 .title {
  font-size: 70px;
  width: 100%;
 }
}

.full-done {
 border: none;
 padding: 0;
 margin: 0;
 width: 40px;
 height: 40px;
 background-color: white;
 position: absolute;
 top: 147px;
 left: 5px;
 display: none;
}

@media screen and (max-width: 750px) {
 .full-done {
  top: 118px;
  left: 15px;
 }
}

@media screen and (max-width: 450px) {
 .full-done {
  top: 105px;
  left: 5px;
 }
}

.full-done::before {
 padding: 0;
 outline: 1px solid black;
 width: 100%;
 height: 100%;
 content: '';
 position: absolute;

 background-color: rgba(194, 182, 149, 0.89);
}




.full-done:checked::before {
 border: none;
 padding: 0;
 width: 0%;
 height: 0%;
 content: '';
 position: absolute;
 top: 0;
 left: 0;

 color: black;
}

.full-done-visible {
 cursor: pointer;
 display: inline-block;
}

.name {
 border: none;
 padding: 0;
 padding-left: 50px;
 width: 660px;
 min-height: 50px;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 font-size: 30px;
 color: black;
}

@media screen and (max-width:750px) {
 .name {
  max-width: 380px;
  width: 100%;
 }
}

@media screen and (max-width:450px) {
 .name {
  max-width: 300px;
  width: 100%;
 }
}


.save {
 border: none;
 padding: 0;
 width: 100px;
 height: 58px;
 background-color: papayawhip;
 border-radius: 5px;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 font-size: 15px;
}

@media screen and (max-width:750px) {
 .save {
  position: absolute;
  width: 65px;
  height: 54px;
  font-size: 12px;
 }
}


.container {
 background-color: darkgray;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 position: relative;
 width: 712px;
}

@media screen and (max-width:750px) {
 .container {
  width: 0;
  max-width: 430px;
  width: 100%;
 }
}

@media screen and (max-width:450px) {
 .container {
  width: 0;
  max-width: 350px;
  width: 100%;
 }
}


.container-active {
 display: none;
}

.container-completed {
 display: none;
}

.todo-li {
 width: 710px;
 margin-top: 20px;
 border: 1px solid white;
 background-color: black;
 display: flex;
 justify-content: space-between;
}

@media screen and (max-width:750px) {
 .todo-li {
  width: 0;
  max-width: 428px;
  width: 100%;
 }
}

@media screen and (max-width:450px) {
 .todo-li {
  width: 0;
  max-width: 348px;
  width: 100%;
 }
}

.case {
 max-width: 710px;
 width: 87%;
 word-wrap: break-word;
 margin: 0;
 font-size: 25px;
 height: 100%
}



.case:hover {
 cursor: pointer;
}

.wrapper {
 width: 70px;
 justify-content: space-between;
 display: flex;
 margin-top: 8px;
 margin-left: 0;
}

.trash {
 padding: 0;
 background-image: url(../foto//button-trash.svg);
 max-width: 18px;
 width: 100%;
 height: 19px;
 border: none;
 background-color: initial;
 padding: 0;
 transition: opacity 1s ease;

}

.done {
 margin: 0;
 padding: 0;
 max-width: 30px;
 width: 100%;
 height: 19px;
 border: none;
 background-color: black;
 padding: 0;
 transition: opacity 1s ease;
}

.check-delo {
 text-decoration: line-through;
}



.button-wrapper {
 display: none;
 justify-content: center;
 width: 712px;
 height: 40px;
 background-color: darkgray;
 position: relative;
}

@media screen and (max-width:750px) {
 .button-wrapper {
  width: 0;
  max-width: 430px;
  width: 100%;
 }
}

@media screen and (max-width:450px) {
 .button-wrapper {
  width: 0;
  max-width: 350px;
  width: 100%;
 }
}

.button-wrapper-visible {
 display: flex;
}

.button-conteiner {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 text-align: center;
 text-decoration: none;
 height: 20px;
 margin-top: 20px;
 width: 70px;
 padding: 0;
 border: none;
 margin-right: 5px;
 background: none;
 align-self: center;
 color: black;
}

@media screen and (max-width:450px) {
 .button-conteiner {
  font-size: 12px;
 }
}


.button-conteiner-on {
 background-color: white;
}

.button-conteiner:hover {
 background-color: white;
}

.button-conteiner-clear {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 text-align: center;
 text-decoration: none;
 height: 20px;
 margin-top: 20px;
 width: 70px;
 padding: 0;
 border: none;
 margin-right: 5px;
 background: none;
 align-self: center;
 color: black;
 display: none;
 position: absolute;
 left: 600px;
}

@media screen and (max-width:750px) {
 .button-conteiner-clear {
  left: 350px;
 }
}

@media screen and (max-width:450px) {
 .button-conteiner-clear {
  left: 290px;
  width: 50px;
  font-size: 12px;
 }
}

.button-conteiner-clear-active {
 display: block;
}

.button-conteiner-clear:hover {
 background-color: white;
}

.count {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 margin: 0;
 position: absolute;
 top: 20px;
 left: 40px;
 width: 10%;
 height: 20px;
 color: black;
}

@media screen and (max-width:750px) {
 .count {
  font-size: 15px;
 }
}

@media screen and (max-width:450px) {
 .count {
  font-size: 12px;
  left: 10px;
 }
}

.todo-change {
 border: none;
 padding: 0;
 margin: 0;
 width: 100%;
 font-size: 25px;

 position: absolute;
 display: none;
}

.todo-change-visible {
 display: inline-block;
}

.input-save {
 border: none;
 padding: 0;
 width: 80px;
 height: 30px;
 background-color: papayawhip;
 border-radius: 5px;
 font-family: 'Allura', 'TolkienCyr', sans-serif;
 font-size: 15px;
 position: absolute;
 left: 632px;
 display: none;
}

.input-save-visible {
 display: inline-block;
}